<!DOCTYPE html>
<html>

    <head>
        <title>Unit 02 - All Assignments</title>
    </head>

	<body>

  <!-- TODO: change from inline style to css sheet later. -->
  <div style='float: right'>
    {% if 'user' in session %}
      {{ session['user'] }}
      <form action="/logout" method="post" id='logout'>
        <input type="submit" value="Log Out" />
      </form>
    {% else %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>

    {% endif %}
  </div>

  <h1>Unit 2 - Blog App Assignments</h1>
  <a href="/">Home</a>
  <a href="/web_caesar">Caesar</a>
  <a href="/blog">Authors</a>
  <a href="/blog/posts">All Posts</a> 
  {% if 'user' in session %}
  <a href="/blog/newpost">New Post</a>
  {% endif %}
  


	{% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}


    {% block content %}
    {% endblock %}

    <br>
    <footer>~ Launchcode Unit 2 Assignments - Completed by Christopher Jewell ~</footer>
	</body>

</html>