<!DOCTYPE html>
<html>

    <head>
        <title>Unit 02 - All Assignments</title>
    </head>

	<body>

	<!-- TODO: create nav, including:
  
  * Logged out: 
    *login/register
  
  * Logged in: 
    * "welcome user!" and logout
    * link to new blog post

  -->

  <h1>The Nav bar will go here</h1>
  <a href="/">Home</a>
  <a href="/blog">Blog</a>
  <a href="/web_caesar">Caesar</a>
  <a href="/wuwei">Wu Wei</a>
  <a href='/logout'>Logout</a>

	{% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}


    {% block content %}
    {% endblock %}

    <br>
    <!-- TODO: Create footer in base template -->
    <footer>~ Launchcode Unit 2 Assignments - Completed by Christopher Jewell ~</footer>
	</body>

</html>