{% extends "base.html" %}
{% block content %}

<h2>Register New Account</h2>

<table>
<form action="/register" method="post">
  
  <tr>
  	<td><label for="email_field">Email </label></td>
  	<td><input type="text" id="email_field" name="email"/></td>
  </tr>

  <tr>  
    <td><label for="username_field">Username </label></td>
    <td><input type="text" id="username_field" name="username"/></td>
  </tr>
  
  <tr>
  	<td><label for="password_field">New Password </label></td>
  	<td><input type="password" id="password_field" name="password"/></td>
  </tr>
  
  <tr>
  	<td><label for="verification_field">Verify Password </label></td>
  	<td><input type="password" id="verification_field" name="verify"/></td>
  </tr>
  
  <tr>
  	<td><input type="submit" value="Register"/></td>
  </tr>

    <tr>
    <td><br/>Already a user? <a href="/login">Login here</a></td>
  </tr>

</form>
</table>


{% endblock %}